.content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
  padding-right: 40px;

  &__table {
    width: 60%;
  }
  &__search {
    margin-right: 20px;
    width: 40%;
  }
  @media only screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__search,
    &__table {
      width: 70%;
      margin: 0;
    }
  }
}

app-filters {
  margin-bottom: 20px;
}

::ng-deep {
  .mat-grid-tile .mat-figure {
    display: block !important;
  }
}
