<div class="hero-detail">
  <button class="back-btn" mat-raised-button (click)="goBack()">Back</button>
  <div class="hero-card">
    <div class="card__icon">
      <mat-icon>account_circle</mat-icon>
    </div>
    <div class="card__name">
      <h5 class="card__header">HERO Name:</h5>
      <p>{{ hero.name }}</p>
    </div>
    <div class="card__description">
      <h5 class="card__header">Description:</h5>
      <p>{{ hero.description }}</p>
    </div>
    <div class="card__powers">
      <h5 class="card__header">Powers:</h5>
      <p>{{ hero.powers }}</p>
    </div>
  </div>

</div>
